
  <div class="logowrapper">
    <%= link_to static_path(action: :home) do %>
      <img class="logo" src="<%= asset_path 'logo_bim.jpg' %>" width="198" height="67" alt="BIM e.V. - Bayerisches Institut für Migration">
    <% end -%>
  </div>

