  <footer>
    <%= link_to t('static.home'), static_path(action: :home) %>
    <span class="seperator">|</span>
    <%= link_to t('static.imprint'), static_path(action: :imprint) %>
    <span class="seperator">|</span>
    <%= link_to t('static.privacy'), static_path(action: :privacy) %>
  </footer>