  <footer>
    <%= link_to t('static.home'), home_path %>
    <span class="seperator">|</span>
    <%= link_to t('static.imprint'), imprint_path %>
    <span class="seperator">|</span>
    <%= link_to t('static.privacy'), privacy_path %>
  </footer>