<div class="page">
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <h1>Avrupa Gün</h1>
    <%= render 'header' %>
  </header>
  
  <div role="main">
    <p>Merhaba!</p>
    <p>Burada sonbahardan itibaren yeni bir süreli yayınla karşınızda olacağız: “Avrupa GÜN”. Avrupa haberlerinden oluşacak haftalık bir haber dergisi.</p>
    <p>Ajans bültenlerinin değil katma değerimizin ağır basacağı bu dergide, kuşkusuz Türkçe dünyayı özellikle ilgilendiren haberlere öncelik verilecek. Ancak alanı belli: Dünyanın neresinde olursa olsun Türkçe okuyan herkesin ulaşabileceği ve tek konusu Avrupa olan bir yayın organı. Güncel siyasetten ekonomiye, sanattan spora tüm ana başlıklarda, “yaşlı kıta”, Türkçe bir görsellik, akıcılık ve derinlik üzerinden yeniden kurgulanacak.</p>
    <p>Sayfa sayfa çevrilip okunabilecek bir formatla hazırlanıyor. Avrupa’da yerleşik ve Türkçe üreten gazetecilerin ortak ürünü. Avrupa GÜN, Berlin-Paris hattından başlayan ve Türkiye’yi de içeren bu sorunlu kıtanın her köşesinden beslenip her köşesine seslenebilen bir araştırmacı enerjiye ev sahipliği yapacak. Türkçede böyle bir çerçeve ve yaygınlıkta daha önce denenmemiş bu girişim, her hafta kendisini yenileyecek.</p>
    <p>Avrupa GÜN, kamu hizmeti anlayışıyla derleniyor ve Avrupa’da yerleşik Türkçelilerin oluşturduğu bir “yurttaş girişimi”nin ürünü. Bilim, aydınlanma ve eşitlik düşüncesi ışığında, Türkçeden insanlığa köklü katkılarda bulunmanın mümkün ve hatta bir görev olduğu inadıyla hazırlanıyor.</p>
    <p>Kısa bir süre sonra tanıtım sayılarımızı art arda burada okuyabilecek ve bir “ilk fikir” edinebileceksiniz.</p>
    <p>Avrupa GÜN, ekim ayından itibaren düzenli yayımlanmayı planlıyor.</p>

    <a href="/pdf/GUN_Tanitim_01.pdf">Indir</a>
    <p><%= link_to 'okumak için lütfen tiklayin »' , static_path( :gazete , id:'120802234302-4ff774e243434c8ebeab4bd7bf00f0c0' ) %></p>
    
  </div>
  <%#= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <%= render 'navigation' %>
</div>